body{
			background-color: lightblue;
			margin: 20px;
			padding: 80px;

		}
		h2{text-decoration: underline;}

		p{text-decoration: underline;}
		}
		  
		ol{color: yellow;}

		form{
			padding: 30px;
			background-color: lightblue;
			font-style: italic;
			border-style: solid;
			font-weight: 900px;

		}

		input[type=button]{
			color: black;
			background-color: rgb(5, 100, 5);
			padding: 8px;
		}

		#div1{
			background-color: whitesmoke;
			text-decoration: underline;
		}
		}
